@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Red+Hat+Text:wght@500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
  scroll-behavior: smooth;
}

/* HEADER  */
header {
  z-index: 1;
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI";
}

.header-name {
  font-size: 40px;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-item {
  font-family: "Red Hat Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  cursor: pointer;
}
/* WELCOME  */
#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 150px 0;
  color: #fff;
}

#welcome > h2 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 150px;
  padding: 30px;
}

.name {
  font-family: "Red Hat Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.welcome-skills {
  font-family: "Red Hat Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: medium;
  letter-spacing: 0.15em;
}

/* ABOUT ME  */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: white;
  color: #042f45;
  padding: 30px;
  gap: 10px;
}

#about-me > h2 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100px;
  padding: 30px;
}

.about-me-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  gap: 30px;
}

.about-me-text {
  font-family: "Red Hat Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.about-me-text > p {
  margin: 20px;
}

.profile-pic {
  display: block;
  height: 450px;
  width: auto;
  padding: 20px;
}

/* SKILLS  */
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: white;
  color: #042f45;
  padding: 30px;
  gap: 10px;
}

#skills > h2 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100px;
  padding: 30px;
}

.skill-card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  justify-items: center;
}

.skill-card {
  padding: 20px;
  height: 170px;
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgb(117, 117, 117);

  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill-card:hover {
  transform: scale(1.1);
  border-top: #09753a solid 4px;
  border-left: #09753a solid 4px;
  border-bottom: #042f45 solid 4px;
  border-right: #042f45 solid 4px;
}

.skill-name {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 0;

  transform: translateY(15px);
  transition: 0.3s ease-in-out;
}

.skill-name.show {
  padding-top: 10px;
  transform: translateY(0);
  font-size: 16px;
}

.skill-card > img {
  display: block;
  height: 100%;
  width: 100%;
}

/* BODY  */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: #09753a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #042f45;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: #042f45;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='248' height='248' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300004d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed; */
  /* background by svgbackgrounds.com */
}

/* BG  */
@keyframes float-around {
  to {
    bottom: 100%;
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0);
  }
}

section {
  z-index: 1;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
